<!-- HTML start -->
<!DOCTYPE html>
<html lang="en">
    <!-- Head (title, icon etc) -->
    <head>
        <title>Hero45678 - About</title>

        <link rel="stylesheet" href="./static/styles/main.css">

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <!-- Main body -->
    <body>
        <!-- Navigation bar (top) -->
        <div class="navigation">
            <h1 class="title">Hero45678 - About</h1>
            <div class="navbar">
                <p><a href="/" class="button plain-link">Home</a> | <a href="/about" class="button plain-link">About</a> | <a href="/projects" class="button plain-link">Projects</a></p>
            </div>
        </div>

        <!-- Main -->
        <br>

        <!-- Mini bio -->
        <div class="bio-header">
            <div class="bio">
                <p>Hi there! I'm Hero45678!<br>I'm a 14 year old  game developer and computer science enthusiast!<br>I make games with both Python/Pygame, and Unity</p>
            </div>
        </div>
        
        <!-- "Social" links -->
        <div class="social-links">
            <div class="social-links-wrap">
                <a href="https://hero45678.itch.io"><img src="./static/images/icons/itchio-logo-textless-black.png" class="icon" alt="itch.io link"></a>
                <a href="https://github.com/Hero45678"><img src="./static/images/icons/GitHub-Mark-64px.png" class="icon" alt="Github link"></a>
                <br>
            </div>
        </div>
        
        <br>
        <br>

        <!-- Footer -->
        <div class="footer">
            <a href="/" class="button plain-link">Hero45678</a>
        </div>
    </body>
</html>