<!-- HTML start -->
<!DOCTYPE html>
<html lang="en">
    <!-- Head (title, icon etc) -->
    <head>
        <title>Hero45678 - Home</title>

        <link rel="stylesheet" href="../static/main.css">
    </head>

    <!-- Main body -->
    <body>
        <!-- Navigation bar (top) -->
        <div class="navigation">
            <h1>Hero45678 - Home</h1>
            <div class="navbar">
                <p><a href="/">Home</a> | hello</p>
            </div>
        </div>

        <!-- Main -->
        <br>
        <br>

        <!-- Footer -->
        <div class="footer">
            <!-- <p><a href="/home.html">Hero45678</a></p> -->
            <div class="button" href="/home.html">Hero45678</div>
        </div>
    </body>
</html>