<!-- HTML start -->
<!DOCTYPE html>
<html lang="en">
    <!-- Head (title, icon etc) -->
    <head>
        <title>Hero45678 - Home</title>

        <link rel="stylesheet" href="./static/styles/main.css">
        <link rel="stylesheet" href="./static/styles/home.css">
    </head>

    <!-- Main body -->
    <body>
        <!-- Navigation bar (top) -->
        <div class="navigation">
            <h1>Hero45678 - Home</h1>
            <div class="navbar">
                <p><a href="/" class="button plain_link">Home</a> | <a href="/about" class="button plain_link">About</a></p>
            </div>
        </div>

        <!-- Main -->
        <br>
        
        <!-- Mini bio -->
        <div class="bio">
            <p>Gamedev, musician and pixel artist<br><br>Making games with pygame and Unity</p>
        </div>
        
        <br>

        <!-- Projects -->
        <div class="projects">
            <div class="game">
                <a href="https://hero45678.itch.io/that-platfomer">
                    <img src="./static/images/That_Platformer.png" class="game-logo" alt="That Platformer logo">
                </a>
            </div>
        </div>

        <br>

        <!-- Footer -->
        <div class="footer"><p>
            <a href="../HTML/home.html" class="button plain_link">Hero45678</a>
        </p></div>
    </body>
</html>