<!-- HTML start -->
<!DOCTYPE html>
<html lang="en">
    <!-- Head (title, icon etc) -->
    <head>
        <title>Hero45678 - Home</title>

        <link rel="stylesheet" href="./static/styles/main.css">
        <link rel="stylesheet" href="./static/styles/image-formating.css">
        <link rel="stylesheet" href="./static/styles/link-formating.css">
        <link rel="stylesheet" href="./static/styles/page-elements.css">
        <link rel="stylesheet" href="./static/styles/projects.css">
        <link rel="stylesheet" href="./static/styles/responsive.css">
        
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <!-- Main body -->
    <body>
        <!-- Navigation bar (top) -->
        <div class="navigation">
            <h1 class="title">Hero45678 - Home</h1>
            <div class="navbar">
                <p><a href="/" class="button plain-link">Home</a> | <a href="/about" class="button plain-link">About</a> | <a href="/projects" class="button plain-link">Projects</a></p>
            </div>
        </div>

        <!-- Main -->
        <br>

        <!-- Mini bio -->
        <div class="centered-element bio-header">
            <div class="description bio">
                <p>Game dev, musician and pixel artist<br>Making games with pygame and Unity</p>
            </div>
        </div>
        
        <br>

        <!-- "Social" links -->
        <div class="centered-element">
            <div class="social-links">
                <a href="https://hero45678.itch.io"><img src="./static/images/icons/itch_io/itchio-logo-textless-white.png" class="icon" alt="itch.io link"></a>
                <a href="https://github.com/Hero45678"><img src="./static/images/icons/GitHub/GitHub-Mark-Light-32px.png" class="icon" alt="Github link"></a>
                <br>
            </div>
        </div>

        <br>
        <br>
        
        <!-- Projects -->
        <div class="centered-element top-projects">
            <div class="project">
                <p class="project-title">That Platformer</p>
                <div class="project-hover">
                    <img src="./static/images/game-logos/That_Platformer.png" class="project-logo" alt="That Platformer logo">
                    <div class="project-description">
                        <p>Just a platformer<br>Made for the Ultimate Game Jam 2020</p>
                    </div>
                </div>
                <a href="https://hero45678.itch.io/that-platfomer" class="itch-link">Get the game on itch.io!</a>
            </div>

            <div class="spacer"></div>

            <div class="project">
                <div class="project-hover">
                    <img src="./static/images/Horizon_artwork.png" class="project-logo" alt="Horizon pixel artwork">
                    <div class="project-description">
                        <p>A pixel art practice<br>A view inspired by the local hill</p>
                    </div>
                </div>
            </div>
        </div>

        <br>

        <!-- Footer -->
        <div class="centered-element footer">
            <a href="/" class="button plain-link">Hero45678</a>
        </div>
    </body>
</html>