/* Custom classes */
.bio {
    /* align-self: center; */
    text-align: center;
    background-color: #F1A432;
    padding: 1px;
    border-radius: 5px;
}

.projects {
    text-align: center;
}

.game-logo {
    /* transition: transform 0.2s cubic-bezier(.3, -0.58, .72, 1.52); */
    top: 0px;
}

.game-logo :hover {
    /* offset: 3px 3px; */
    /* transform: translate(0px, -5px); */
    top: -5px;
}