img {
    border-radius: 5px;
}

.icon {
    width: auto;
    height: 32px;

    padding-left: 5px;
    padding-right: 5px;

    transition: transform 0.2s cubic-bezier(.3, -0.58, .72, 1.52);
}

.icon:hover {
    transform: translate(0px, -5px);
}