/* Predefined areas */
h1 {
    color: #F132BE;
}

img {
    border-radius: 5px;
}

/* Custom classes */
.navigation {
    text-align: center;
}

.navbar {
    background-color: #F1303E;
    padding-top: 1px;
    padding-bottom: 1px;
    border-radius: 5px;
}

a.button {
    text-align: center;
    background-color: #F1303E;
    border-radius: 2px;
    padding: 5px;
    width: 100px;
}

a.button:hover {
    background-color: rgb(150, 150, 150);
}

.footer {
    text-align: center;
}

.footer a.button {
    text-align: center;
    background-color: #FFFFFF;
    border-radius: 3px;
    padding: 5px;
    width: 100px;
}

.footer a.button:hover {
    background-color: rgb(220, 220, 220);
}

.footer .plain_link {
    color: rgb(125, 125, 125);
    text-decoration: none;
}

.plain_link {
    color: rgb(0, 0, 0);
    text-decoration: none;
}