:root {
    --neon-green: #22ee22ff;
    --spring-green: #22ee66ff;
    --medium-spring-green: #22ee99ff;
    --sea-green-crayola: #22eebbff;
    --fluorescent-blue: #22eeeeff;
}

/* Predefined areas */
body {
    font-family: 'Open Sans';

    /* background-color: var(--medium-spring-green); */
    background-color: #4DA8DA;

    color: #ffffff;
}

/* Custom classes */
.bio p {
    font-size: 125%;
}

.page-description p {
    font-size: 115%;
}

.game {
    display: inline-block;
    background-color: #203647;
    padding: 10px;
    padding-top: 5px;
    border-radius: 8px;
}

.game-title {
    background-color: #12232E;
    padding: 10px;
    border-radius: 5px;

    transition: transform 0.2s cubic-bezier(.3, -0.58, .72, 1.52);
}

.game-title:hover {
    transform: translate(0px, -3px);
}