.title {
    background-color: #12232e;
    color: #ffffff;
    border-radius: 5px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 20px;
}

.navigation {
    text-align: left;
}

.navbar {
    font-size: 17px;
    background-color: #007CC7;

    padding-top: 1px;
    padding-bottom: 1px;
    border-radius: 5px;
}

.centered-element {
    text-align: center;
}

.description p{
    display: inline-block;
    background-color: #203647;
    padding: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 5px;
}

.bio p {
    font-size: 125%;
}

.page-description p {
    font-size: 115%;
}

.footer a.button {
    background-color: #4DA8DA;
    border-radius: 3px;
}

.footer a.button:hover {
    background-color: #FFFFFF;
}