:root {
    --neon-green: #22ee22ff;
    --spring-green: #22ee66ff;
    --medium-spring-green: #22ee99ff;
    --sea-green-crayola: #22eebbff;
    --fluorescent-blue: #22eeeeff;
}

.title {
    background-color: var(--fluorescent-blue);
    color: #ffffff;
    border-radius: 5px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 20px;
}

.navigation {
    text-align: left;
}

.navbar {
    font-size: 17px;

    text-align: right;
    padding-right: 20px;

    background-color: var(--sea-green-crayola);
    padding-top: 1px;
    padding-bottom: 1px;
    border-radius: 5px;
}

.centered-element {
    text-align: center;
}

.description p{
    display: inline-block;
    background-color: var(--spring-green);
    padding: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 5px;
}

.game-logo {
    opacity: 1;
    transition: ease 0.5s;
}

.game .game-description {
    position: absolute;
    top: 102%;
    left: 50%;
    transform: translate(-50%, 0);

    opacity: 0;
    transition: ease 0.5s;
}

.projects .game .game-description {
    position: absolute;
    top: 102%;
    left: 50%;
    transform: translate(-50%, -200%);

    opacity: 0;
    transition: ease 0.5s;
}

.game .game-hover:hover > .game-logo {
    opacity: .5;
}

.game .game-hover:hover > .game-description {
    opacity: 1;
}

.footer a.button {
    background-color: var(--medium-spring-green);
    border-radius: 3px;
}

.footer a.button:hover {
    background-color: var(--spring-green);
}