.title {
    background-color: colour-primary-4;
    color: #ffffff;
    border-radius: 5px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 20px;
}

.navigation {
    text-align: left;
}

.navbar {
    font-size: 17px;

    text-align: right;
    padding-right: 20px;

    background-color: #FF2F2F;
    padding-top: 1px;
    padding-bottom: 1px;
    border-radius: 5px;
}

.centered-element {
    text-align: center;
}

.description p{
    display: inline-block;
    background-color: #FF2F2F;
    padding: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 5px;
}

.footer a.button {
    text-align: center;
    background-color: #00ffd4;
    border-radius: 3px;
    padding: 5px;
    width: 100px;
}

.footer a.button:hover {
    background-color: #00d4ff;
}