.project {
    display: inline-block;
    background-color: #203647;
    padding: 10px;
    padding-top: 5px;
    border-radius: 8px;
}

.project-title {
    background-color: #12232E;
    padding: 10px;
    border-radius: 5px;

    transition: transform 0.2s cubic-bezier(.3, -0.58, .72, 1.52);
}

.project-title:hover {
    transform: translate(0px, -3px);
}

.project-logo {
    opacity: 1;
    transition: ease 0.5s;
}

.project .project-description {
    position: relative;
    top: -175px;
    margin-bottom: -75px;

    opacity: 0;
    transition: ease 0.5s;
}

.project .project-hover:hover > .project-logo {
    opacity: .5;
}

.project .project-hover:hover > .project-description {
    opacity: 1;
}

.spacer {
    display: inline-block;

    padding: 15px;
}